.poll-list li {
    background-color: var(--light);
    color: var(--blue);
    padding: 0.5rem;
    text-align: center;
}

.poll-list li:nth-child(odd){
    background-color: white;    
}

.poll-list li:hover {
    border:2px solid var(--blue);
}

.poll-title {
    color: var(--blue);
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}
